.vehicleContainer {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    margin: 20px;
}

.vehicleImages {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
}

.vehicleImage {
    width: 100%;
    max-width: 500px;
    min-width: 300px;
    max-height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.vehicleImage > img {
    width: 100%;
    height: auto;
}


.vehicleInfo {
    width: 100%;
    max-width: 400px;
    min-width: 300px;
}

.vehicleInfo > h3 {
    margin: 5px;
}

.vehicleInfo > h1 {
    margin: 10px 0;
    color: rgb(204, 127, 26);
}

.vehicleInfo > h3 > label {
    color: rgb(204, 127, 26);
}

@media only screen and (max-width: 1000px) {
    .vehicleImages {
        grid-template-columns: 1fr 1fr;
    }
}

@media only screen and (max-width: 500px) {
    .vehicleImages {
        grid-template-columns: 1fr;
    }
}
