.ProfileContainer {
    margin: 20px;
}

.ProfileContainer .card {
    padding: 20px;
}

.mainProfilePage {
    max-width: 600px;
    padding-top: 50px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}
.Userinfospan{
    color: green;
}
.infostring{
    display: flex;
    flex-flow: row nowrap;
}

.infostring > h3 {
    margin: auto;
    text-align: center;
    max-width: 250px;
    word-wrap: break-word;
}
.inoIcon{
    width: 40px;
    height: 40px;
    margin: auto 0;
}

@media screen and (max-width: 500px) {
    .ProfileConteiner {
        margin: 20px 10px;
    }
}