.ProfToolBar {
    background-color: #11100C;
    background: linear-gradient(to bottom,  #3D3D40 0%, #2D2D30 70%, #1D1D20 100%);
    z-index: 1;
    color: #3E78B2;
    font-size: 1.4rem;
    display: flex;
    flex-flow: row nowrap;
    align-items: stretch;
    justify-content: space-around
}

.castomNavLinkDiv2line {
    display: flex;
    flex-flow: column nowrap;
    align-items:  center;
    text-align: center;
    cursor: pointer;
    padding: 5px 20px 0 20px;
}

.castomNavLinkDiv2line:hover > .castomHover2line {
    width: 100%;
    opacity: 1;
}

.castomHover2line{
    background-color: #3E78B2;
    width: 0%;
    opacity: 0;
    height: 5px;
    left: 0;
    margin: auto;
    transition: width .3s ease-out, opacity .3s ease-out;
}

.upArrow {
    cursor: pointer;
    display: none;
    position: fixed;
    bottom: 0;
    left: 0;
    margin: 10px;
    opacity: .5;
    transition: opacity .3s ease-out;
}

.upArrow:hover {
    opacity: .7;
}

.arrowShow {
    display: block;
}

.upArrow > img {
    width: 48px;
    height: 48px;
}

@media screen and (max-width: 700px) {
    .castomNavLinkDiv2line {
        position: static;
    }
}

@media screen and (max-width: 500px) {
    .ProfToolBar {
    flex-flow: column nowrap;
    }
}