.settingsContainer {
    max-width: 900px;
    margin: 20px auto;
    /* display: flex;
    flex-flow: row wrap; */
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: auto 1fr;
}

.settingsTypeBar {
    width: 200px;
    grid-row: 1 / 2;
    /* border-right: 2px solid rgb(204, 127, 26); */
}

.settingsTypeBarButton {
    cursor: pointer;
    background: none;
    padding: 10px 0 0 5px;
    color: rgb(204, 127, 26);
    font-size: 1.2rem;
    font-weight: bold;
}

.barBorder {
    margin: 10px 0 0 0;
    background: rgb(204, 127, 26);
    height: 4px;
    width: 0px;
    transition: width .3s ease-out;
}

.selected > .barBorder {
    width: 100%;
}

.settingsMain {
    grid-row: 1 / 3;
    /* display: flex;
    flex-flow: column nowrap;
    align-items: center; */
    margin: 0 20px;
}

.settingsForm {
    min-width: 300px;
    color: rgb(204, 127, 26);
    width: auto;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.settingsForm > h1 {
    align-self: center;
}

.settingsForm > h2, h3 {
    margin: 0 auto;
}

.settingsForm > input {
    align-self: center;
    width: 90%;
    margin: 10px 0;
    padding: 3px 6px;
    height: 29px;
    border: 2px solid #3D3D40;
    max-width: 300px;
}

.settingsForm > input[type=submit] {
    cursor: pointer;
    width: 200px;
    margin: 10px auto;
    height: 33px;
    color: #3E78B2;
    background-color: #3D3D40;
    border: none;
    font-size: 1.4rem;
    transition: opacity .3s ease-out;
}

.settingsForm > input[type=submit]:hover {
    opacity: .8;
}

.settingsForm > textarea {
    align-self: center;
    height: 100px;
    width: 90%;
    margin: 10px 0;
    padding: 3px 6px;
    border: 2px solid #3D3D40;
    max-width: 300px;
}

.settingsPhotoInput {
    color: #3E78B2;
    opacity: 1;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: #3D3D40;
    transition: opacity .3s ease-out;
    margin: 10px auto;
    align-self: center;
}

.settingsPhotoInput > input[type=file] {
    position: absolute;
    cursor: pointer;
    opacity: 0;
    top: 0;
    left: 0;
    width: 400px;
    height: 400px;
    z-index: 2;
}

.settingsPhotoInput:hover {
    opacity: .8;
}

.settingsPhotoInput > label {
    padding: 10px;
    font-size: 1rem;
}

.slider {
    cursor: pointer;
    transition: opacity .3s ease-out;
    animation: slideranim .2s ease-out;
}

.slider:hover {
    opacity: .8;
}

.block {
    display: block;
}
  
.none {
    display: none;
}

.settingsPhotoPreview {
    position: relative;
    transition: opacity .3s ease-out;
}



.settingsPhotoPreview:hover {
    opacity: .8;
}

@keyframes slideranim {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@media screen and (max-width: 500px) {
    .settingsContainer {
        grid-template-columns: 1fr;
        margin: 20px 10px;
    }

    .settingsMain {
        grid-row: auto;
        margin: 10px 0;
    }

    .settingsForm > input {
        max-width: 280px;
    }

    .settingsTypeBar {
        width: auto;
        /* margin: auto;
        border-right: none; */
    }
}