#preloader {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.preloading {
    margin: 0 auto;
	border-radius: 50%;
	border-top-color: transparent;
	border-left-color: transparent;
	border-right-color: transparent;
	box-shadow: 3px 3px 1px rgb(0,0,0);
    width: 92px;
    height: 92px;
    animation: preload 1s linear infinite;
}

@keyframes preload {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}