.licenseContainer {
    margin: 20px;
}

.licenseContainer > h1 {
    align-self: center;
    margin: 10px 0;
    color: rgb(204, 127, 26);
}

.licenseImages {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

@media screen and (max-width: 500px) {
    .licenseContainer {
        margin: 20px 10px;
    }
}