.header {
    width: 100%;
    height: 85px;
    background-color: rgb(95, 1, 75);
    display: flex;
    flex-flow: row wrap;
    color: rgb(204, 127, 26);
    font-size: 220%;
    justify-content: space-around;
    border-bottom: 1px solid  rgba(224, 214, 71, 0.26);
    box-shadow: rgba(0,0,0,.2) 0 5px 3px 5px;
    top: 0;
    position: sticky;
}
.headerRight {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;

}
.headerLeft {
    display: flex;
    flex-flow: row nowrap;
}
.headerLeft > div {
    cursor: pointer;
    display: flex;
    align-items: center;
    background: none;
    font-size: 2rem;
    border: none;
    border-bottom: 4px solid transparent;
    padding: 0 20px;
    outline: none;
}
.headerRight > div {
    cursor: pointer;
    display: flex;
    align-items: center;
    background: none;
    font-size: 2rem;
    border: none;
    border-bottom: 4px solid transparent;
    padding: 0 20px;
    outline: none;
}
.castomNavLinkDiv{
    position: relative;
}

.castomNavLinkDiv:hover > .castomHover {
    width: 100%;
    opacity: 1;
}
.castomHover{
    position: absolute;
    background-color: rgb(224, 214, 71);
    width: 0%;
    opacity: 0;
    height: 5px;
    bottom: -7px;
    left: 0;
    margin: auto;
    transition: width .3s ease-out, opacity .3s ease-out;
}

.headerLinkdiv {
    padding: 0 25px;
}

.headerLink {
    text-decoration : none;
    color: rgb(204, 127, 26);
    
}
.headerLinkButtom{
    cursor: pointer;
    text-decoration : none;
    color: rgb(204, 127, 26);
    background: none;
    outline: none;
    border: none;
    border-bottom: 4px solid transparent;
    font-size: 2rem;
    padding: 0;
}
.headerLinkdiv:hover {
    border-bottom: 4px solid rgb(224, 214, 71);
}

.burgerButton {
    display: none;
    cursor: pointer;
    margin: auto 20px auto auto;
}

.burgerButton > img {
    max-width: 32px;
    max-height: 32px;
}

.burgerContainer {
    display: none;
    position: fixed;
    right: 0px;
    top: 85px;
    background-color: rgb(95, 1, 75);
    transform: translateX(350px);
    transition: transform .3s ease-out;
    z-index: 10;
    margin: 0;
    padding: 0;
}

.open {
    transform: translateX(0);
    width: 320px;
}

.burgerLink {
    display: flex;
    align-items: center;
    justify-content: stretch;
    margin: 10px 0px 0 35px;
    border-bottom: 4px solid rgb(204, 127, 26);
}


@media screen and (max-width: 700px) {
    .burgerButton {
        display: block;
    }
    .headerRight {
        display: none;
    }
    .burgerContainer {
        display: inline;
    }
}