.restContainer {
    /* display: flex;
    flex-flow: column nowrap;
    align-items: center; */
    margin: 20px;
    min-height: 100px;
}

.restContainer > h1 {
    margin: 10px auto;
    color: rgb(204, 127, 26);
}

.restMap {
    /* max-width: 900px; */
    /* margin: auto; */
    align-self: stretch;
    padding: 20px;
    min-width: 400px;
}

.restList {
    margin: 20px 0;
    padding: 0;
    list-style: none;
    align-self: stretch;
}

.restItemContainer {
    position: relative;
}

.restItemMain {
    cursor: pointer;
    display: flex;
    padding: 10px 5px;
    margin: 0 0 5px 0;
    /* border-bottom: 2px solid rgb(204, 127, 26); */
    transition: opacity .3s ease-out;
}

.restItemMain > h2 {
    margin: auto 10px;
    color: rgb(204, 127, 26);
}

.restItemMain:hover {
    opacity: .8;
}

.restItemImage {
    width: 500px;
    height: 300px;
    min-width: 500px;
}

.restItemInfo {
    width: auto;
    overflow: hidden;
}

.ri-open {
    max-height: 1500px;
    transition: max-height .7s ease-out;
}

.ri-close {
    margin: 0;
    padding: 0 !important;
    max-height: 0;
    transition: max-height .3s ease-in;
    visibility: hidden;
}

.restItemInfo > p {
    font-size: 1.2rem;
    color: rgb(204, 127, 26);
}

.restItemGalary {
    width: 100%;
    margin: 20px 0;
    overflow-x: auto;
    scroll-behavior: smooth;
    display: flex;
}


.restForm  {
    color: rgb(204, 127, 26);
    width: auto;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.restForm  > h1 {
    align-self: center;
}

.restForm  > h2, h3 {
    margin: 0 auto;
}

.restForm > input {
    align-self: center;
    width: 90%;
    margin: 10px 0;
    padding: 3px 6px;
    height: 29px;
    border: 2px solid #3D3D40;
    max-width: 300px;
}

.restForm > input[type=submit] {
    cursor: pointer;
    width: 200px;
    margin: 10px auto;
    height: 33px;
    color: #3E78B2;
    background-color: #3D3D40;
    border: none;
    font-size: 1.4rem;
    transition: opacity .3s ease-out;
}

.restForm  > input[type=submit]:hover {
    opacity: .8;
}

.restForm  > textarea {
    align-self: center;
    height: 100px;
    width: 90%;
    margin: 10px 0;
    padding: 3px 6px;
    border: 2px solid #3D3D40;
    max-width: 300px;
}


.addimage {
    display: flex;
    justify-content: center;
    align-items: center;
}

.addimage > img {
    width: 200px;
    height: 200px;
}

.imageInput {
    cursor: pointer;
    position: relative;
    opacity: .9;
    transition: opacity .3s ease-out;
}

.imageInput:hover {
    opacity: .7;
}

@media screen and (max-width:500px) {
    .restContainer {
        margin: 10px;
    }
}


