.signin{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    font-size: 160%;

    color: rgb(204, 127, 26);
    padding-top: 50px; 
}
.linkButton{
    padding: 15px;
    text-decoration: none;
    border: 3px solid rgb(204, 127, 26);
    color: rgb(204, 127, 26);
}
.linkButton:hover{
    background-color:  rgba(204, 127, 26, 0.452);
}