.globalWrapContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    min-height: 100vh;
    z-index: 20;
}

.globalWrapContent {
    margin: auto;
}

.gw-dark {
    background: rgba(0,0,0,.2);
}