html{

}
body {
  margin: 0px;
  padding: 0px;
  font-family: 'ProximaNovaRegular';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
  background: #eeeeee;
}
code {
  font-family: 'ProximaNovaRegular';
}

@font-face {
  font-family: "ProximaNovaRegular";
  src: url('./fonts/ProximaNova-Regular.ttf');
}
@font-face {
  font-family: "ProximaNovaThin";
  src: url('./fonts/ProximaNovaT-Thin.ttf');
}
@font-face {
  font-family: "ProximaNovaItalicReg";
  src: url('./fonts/ProximaNova-RegularIt.ttf');
}
@font-face {
  font-family: "ProximaNovaItalicThin";
  src: url('./fonts/ProximaNova-ThinIt.ttf');
}

@font-face {
  font-family: "ProximaNovaBold";
  src: url('./fonts/ProximaNova-Bold.ttf');
}
