html{

}

body {
  margin: 0px;
  padding: 0px;
  font-family: 'ProximaNovaRegular';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
  background: #F7F7F0;
}

.card {
  border: 1px solid rgba(0,0,0,0.2);
  background: #fafafa;
  box-shadow: rgba(0,0,0,.2) 0 0 1px 1px;
  padding: 5px;
}

.container {
  display: flex;
}

.row {
  flex-flow: row nowrap;
}

.col {
  flex-flow: column nowrap;
}

.ai-center {
  align-items: center;
}

.ai-stretch {
  align-items: stretch;
}

.jc-center {
  justify-content: center;
}

.jc-stretch {
  justify-content: stretch;
}

code {
  font-family: 'ProximaNovaRegular';
}

@font-face {
  font-family: "ProximaNovaRegular";
  src: url('./fonts/ProximaNova-Regular.ttf');
}
@font-face {
  font-family: "ProximaNovaThin";
  src: url('./fonts/ProximaNovaT-Thin.ttf');
}
@font-face {
  font-family: "ProximaNovaItalicReg";
  src: url('./fonts/ProximaNova-RegularIt.ttf');
}
@font-face {
  font-family: "ProximaNovaItalicThin";
  src: url('./fonts/ProximaNova-ThinIt.ttf');
}

@font-face {
  font-family: "ProximaNovaBold";
  src: url('./fonts/ProximaNova-Bold.ttf');
}
