.mapContainer {
    min-height: 100px;
    min-width: 100px;
    width: 100%;
    height: 300px;
}
.labelContainer {
    cursor: pointer;
    position: relative;
    top: -64px;
    left: -32px;
    width: 64px;
    height: 64px;
    z-index: 2;
}

.labelContainer:hover > div {
    opacity: 1;
} 

.labelText {
    top: -30px;
    right: -40px;
    position: absolute;
    font-size: 1.2rem;
    background: rgba(255,255,255, 0.8);
    border-radius: 5px;
    border: 1px solid rgba(0,0,0,0.1);
    opacity: 0;
    padding: 10px;
    margin-bottom: 40px;
    margin-left: 40px;
    z-index: 2;
    transition: opacity .3s ease-out;
}

.labelShape {
    width: 6px;
    height: 6px;
    margin: auto;
    background: rgba(0,0,0,0.4);
    border-radius: 50%;
}